  body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('site_img/3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #ffeee0; */
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .bd{
    /* background-color: #ffeee0; */
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .bd1{
    background-color: #ffeee0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    }

  .n1{
    display: grid;
    grid-template-rows: 0.8fr 0.7fr 1fr;
    grid-template-columns: 40% 60%;
  }

  .webcam-layout{
    display: grid;
    grid-template-rows: 0.8fr 3fr;
  }

  .nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    height: 120px;
    width: 70%;
    column-gap:-10px;
    margin-left: 90px; 
    margin-right: 0px;
    grid-column-end: span 2;
  }
  
  .carousel-main {
    width: 90%;
  }
  .carousel {
    height: 237px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
  }

  .carousel-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* animation: fade-in 5s infinite; */
    animation: carousel-animation 9s infinite;
  }

  .carousel img {
    width: 95%;
    height: auto;
    transition: transform 0.6s ease-in-out;
  }

  @keyframes carousel-animation {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-90%);
    }
    80% {
        transform: translateY(-650%);
    }
    100% {
        transform: translateY(0);
    }
  }

  /* .fade-in {
  animation-name: fade-in;
  animation-duration: .2s;
  } */

  @keyframes fade-out {
    0% {
        opacity: 100%;
    }
  
    100% {
        opacity: 0%;
        transform: translate(-50%, -10px);
    }
  }
  @keyframes fade-in {
    0% {
        opacity: 50%;
        transform: translate(-50%, -10px);
    }
    
    100% {
        opacity: 100%;
    }
  }


  h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    background: linear-gradient(to right, #ff8066, #e52d27);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .container {
    border: black;
    border-radius: 2px;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
  }

  .box{
    display:block;
    border:2px solid  #F0B36A;
    margin:20px 20px;
    padding:30px;
    bottom:10px;
    height:130px;
    width: 400px;
    background:#f6a458;
    opacity:0.85;
    }

  .box:hover {
    opacity: 1.0;
    background: #f69840;
    color:black;
  }

  form {
    margin-bottom: 20px;
  }

  .form-text{
    color: aliceblue;
  }

  .upld-img{
    grid-row-end: 3 span;
    /* grid-column-start:span 2; */
  }

  button {
    padding: 15px 25px;
    font-size: 16px;
    align-content: center;
    background-color: #252725;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.3s;
  }
  button:hover{
    opacity: 1;
    background-color: black;
  }

  .result {
    margin-top: 20px;
    padding-top: 70px;
    padding-left: 120px;
    align-items: center;
    grid-row-start: 3 span;
  }

  #image-container {
    text-align: center;
  }

  #uploaded-image {
    max-width: 100%;
    height: auto;
  }

  #button2{
    justify-content: center;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.9;
    transition: 0.3s;
  }
  #button2:hover{
    opacity: 1;
    background-color: #02c108;
  }

  #videoElement {
	width: 800px;
	height: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
	background-color: #201c1c;
 }

 .vid{
  margin-top: 10px;
  margin-left: 100px;
	width: 800px;
	height: 530px;
	border: 10px #010101 solid;    

 }
 /* image download button */
 .btn {
    background-color: rgb(6, 69, 120);
    border: none;
    color: white;
    margin-top: 70px;
    margin-left: 170px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(0, 0, 0);
  }

  @media screen and (max-width: 600px) {
    form {
      width: 70%;
    }
    body {
      /* font-size: 15px; */
      /* height: fit-content; */
      grid-template-columns: 120px 500px;
    }

    .bd{
      grid-template-columns: 120px 500px;
    }
    .n1 {
      display: grid;
      grid-template-rows: 0.8fr 0.7fr 1fr 0.4fr;
      grid-template-columns: 0% 0%;
      width: 70%;
    }
    .nav {
      height: fit-content;
      font-size: 15px;
      width: 30%;
      margin-left: 150px; 
      margin-right: 0px;
      column-gap: 0%;
    }

    .nav > img{
      height: 80px; 
      width: 90px;
    }
    .nav > h1{
      margin: 1px;
      font-size: 40px;
    }
    .carousel-main {
      width: 100%;
    }

    .upld-img{
      /* grid-row-end: 3; */
      grid-row-start:3;
      height: 350px;
      width: 250px;
      margin: 3px;
    }
    #image-container{
      align-content: normal;
      margin-left: 35px;
      margin-top: 20px;
    }
    #uploaded-image {
      /* max-width: 50%; */
      height: 200px;
      width: 220px;
    }

    .box{
      background:#f6a458;
      height:150px;
      width: 200px;
      grid-row-end: 2;
      grid-row-start:2;
      margin: 30px 20px;
    }
    
    .result{
      grid-row-end: 4;
      grid-row-start:4;
      margin-top: 2px;
      padding-top: 10px;
      padding-left: 90px;
      align-items: center;
    }

    /* .dwnld{
      grid-row-end: 4;
      grid-row-start:4;
    } */

    .btn{
      margin-top: 280px;
      margin-left: 70px;
    }

    .carousel {
      height: 321px;
    }
    .carousel-inner{
      animation: carousel-animation 15s infinite;
    }
    .carousel img {
      transition: transform 0.8s ease-in-out;
    }
    
    #videoElement {
      width: 400px;
      height: 300px;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #201c1c;
    }
    
    .vid{
      margin-top: 30px;
      margin-left: 1px;
      width: 400px;
      height: 330px;
      border: 1px #010101 solid;    
    }
  }