<div class="carousel-main">
    <div class="carousel">
        <div class="carousel-inner">
            <img src="static\site_img\A.jpg" alt="A">
            <img src="static\site_img\D.jpg" alt="D">
            <img src="static\site_img\G.jpg" alt="G">
            <img src="static\site_img\J.jpg" alt="J">
            <img src="static\site_img\M.jpg" alt="M">
            <img src="static\site_img\P.jpg" alt="P">
            <img src="static\site_img\S.jpg" alt="S">
            <img src="static\site_img\V.jpg" alt="V">
            <img src="static\site_img\Y.jpg" alt="Y">
            <img src="static\site_img\A.jpg" alt="A">
            <img src="static\site_img\D.jpg" alt="D">
            <img src="static\site_img\G.jpg" alt="G">
            <img src="static\site_img\J.jpg" alt="J">
            <img src="static\site_img\M.jpg" alt="M">
            <img src="static\site_img\P.jpg" alt="P">
            <img src="static\site_img\S.jpg" alt="S">
            <img src="static\site_img\V.jpg" alt="V">
            <img src="static\site_img\Y.jpg" alt="Y">
            <img src="static\site_img\A.jpg" alt="A">
            <img src="static\site_img\D.jpg" alt="D">
            <img src="static\site_img\G.jpg" alt="G">
            <img src="static\site_img\J.jpg" alt="J">
            <img src="static\site_img\M.jpg" alt="M">
            <img src="static\site_img\P.jpg" alt="P">
            <img src="static\site_img\S.jpg" alt="S">
            <img src="static\site_img\V.jpg" alt="V">
            <img src="static\site_img\Y.jpg" alt="Y">
            <img src="static\site_img\A.jpg" alt="A">
            <img src="static\site_img\D.jpg" alt="D">
            <img src="static\site_img\G.jpg" alt="G">
            <!-- <img src="static\site_img\J.jpg" alt="J"> -->
        </div>
    </div>
    <div class="carousel">
        <div class="carousel-inner">
            <img src="static\site_img\B.jpg" alt="B">
            <img src="static\site_img\E.jpg" alt="D">
            <img src="static\site_img\H.jpg" alt="H">
            <img src="static\site_img\K.jpg" alt="K">
            <img src="static\site_img\N.jpg" alt="N">
            <img src="static\site_img\Q.jpg" alt="N">
            <img src="static\site_img\T.jpg" alt="T">
            <img src="static\site_img\W.jpg" alt="W">
            <img src="static\site_img\Z.jpg" alt="Z">
            <img src="static\site_img\B.jpg" alt="B">
            <img src="static\site_img\E.jpg" alt="D">
            <img src="static\site_img\H.jpg" alt="H">
            <img src="static\site_img\K.jpg" alt="K">
            <img src="static\site_img\N.jpg" alt="N">
            <img src="static\site_img\Q.jpg" alt="N">
            <img src="static\site_img\T.jpg" alt="T">
            <img src="static\site_img\W.jpg" alt="W">
            <img src="static\site_img\Z.jpg" alt="Z">
            <img src="static\site_img\B.jpg" alt="B">
            <img src="static\site_img\E.jpg" alt="D">
            <img src="static\site_img\H.jpg" alt="H">
            <img src="static\site_img\K.jpg" alt="K">
            <img src="static\site_img\N.jpg" alt="N">
            <img src="static\site_img\Q.jpg" alt="N">
            <img src="static\site_img\T.jpg" alt="T">
            <img src="static\site_img\W.jpg" alt="W">
            <img src="static\site_img\Z.jpg" alt="Z">
            <img src="static\site_img\B.jpg" alt="B">
            <img src="static\site_img\E.jpg" alt="D">
            <img src="static\site_img\H.jpg" alt="H">
            <!-- <img src="static\site_img\K.jpg" alt="K"> -->
            <!-- Add more images as needed -->
        </div>
    </div>
    <div class="carousel">
        <div class="carousel-inner">
            <img src="static\site_img\C.jpg" alt="C">
            <img src="static\site_img\F.jpg" alt="F">
            <img src="static\site_img\I.jpg" alt="I">
            <img src="static\site_img\J.jpg" alt="J">
            <img src="static\site_img\O.jpg" alt="O">
            <img src="static\site_img\R.jpg" alt="R">
            <img src="static\site_img\U.jpg" alt="U">
            <img src="static\site_img\X.jpg" alt="X">
            <img src="static\site_img\C.jpg" alt="C">
            <img src="static\site_img\F.jpg" alt="F">
            <img src="static\site_img\I.jpg" alt="I">
            <img src="static\site_img\J.jpg" alt="J">
            <img src="static\site_img\O.jpg" alt="O">
            <img src="static\site_img\R.jpg" alt="R">
            <img src="static\site_img\U.jpg" alt="U">
            <img src="static\site_img\X.jpg" alt="X">
            <img src="static\site_img\C.jpg" alt="C">
            <img src="static\site_img\F.jpg" alt="F">
            <img src="static\site_img\I.jpg" alt="I">
            <img src="static\site_img\J.jpg" alt="J">
            <img src="static\site_img\O.jpg" alt="O">
            <img src="static\site_img\R.jpg" alt="R">
            <img src="static\site_img\U.jpg" alt="U">
            <img src="static\site_img\X.jpg" alt="X">
            <img src="static\site_img\C.jpg" alt="C">
            <img src="static\site_img\F.jpg" alt="F">
            <img src="static\site_img\I.jpg" alt="I">
            <!-- <img src="static\site_img\J.jpg" alt="J"> -->
        </div>
    </div>
</div>